<% @userprojects.each do |userproject| %>
  <%= form_tag(search_path, :method => "get", remote: true) do %>
    Task : <%= search_field_tag :description, params[:description], id: 'task_id' %>
    <% @users = Userproject.where(project_id: userproject.project_id) %><br>
    <%= hidden_field_tag :project_id, userproject.project_id, id: 'project_id' %>
    <br>User Id : <%= collection_select :task, :user_id, @users, :user_id, :user_id, {:prompt => true}, :multiple => true, id: 'user_id' %><br>
    <br><%= button_tag "search" %>
  <% end %><br>
  <div id="search-results">
  </div><br>

  <script type="text/javascript">
    $( document ).ready(function() {
      $("button").click(function() {
        var Task_id = $('#task_id').val();
        var Project_id = $('#project_id').val();
        var User_Id = $('#user_id').val();
        $.ajax({
          type: 'GET',
          url: "/search",
          dataType : 'json',
          data:{ project_id: Project_id, description: Task_id, user_id: User_Id },
          success: function(results){
            if (results.length == 0) {
              $('#table').hide();
              $('#search-results').append("No results found!!!");
            }
            else {
              $.each(results, function(i, data){
                $('#table').hide();
                $('#search-results').append("<strong>Email : "+data.email+'</strong>'+'<br>'+"Task Description : "+data.description+'<br>'+"Assigned By : "+data.assigned_by+'<br><br>');
              });
            }
          },
        });
      });
    });
  </script>

  <div id = 'table'>
    <table>
      <tbody>
        <%if userproject.role =='Admin' || userproject.role =='Project manager' || userproject.role =='Team lead' %>
          <%= link_to 'New Userproject', new_userproject_path(id: userproject.id) %><br><br>
        <% end -%>
        <%= link_to 'Assign task to user', new_task_path(id: userproject.id) %><br><br>
        <%= link_to 'Assigned Task', tasks_path(id: userproject.id) %><br><br>
        <%= link_to 'Comments', comments_path(id: userproject.id) %><br><br>
        <% if userproject.role == 'Admin' %>
          <tr>
            <td><h4>Project manager :</h4></td>
            <% Userproject.all.each do |u| %>
              <% if u.role == 'Project manager' && u.project_id == userproject.project_id %>
              <tr>
                <td>User Id : <%= u.user_id %></td>
                <td><%= link_to 'Task', tasks_path(id: u.id) %>
                <td><%= link_to 'Destroy', u, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
              <% end -%>
            <% end -%>
          </tr>
          <tr>
            <td><h4>Team lead :</h4></td>
            <% Userproject.all.each do |u| %>
              <% if u.role == 'Team lead' && u.project_id == userproject.project_id %>
              <tr>
                <td>User Id : <%= u.user_id %></td>
                <td><%= link_to 'Task', tasks_path(id: u.id) %>
                <td><%= link_to 'Destroy', u, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
              <% end -%>
            <% end -%>
          </tr>
          <tr>
            <td><h4>Developer :</h4></td>
            <% Userproject.all.each do |u| %>
              <% if u.role == 'Developer' && u.project_id == userproject.project_id %>
              <tr>
                <td>User Id : <%= u.user_id %></td>
                <td><%= link_to 'Task', tasks_path(id: u.id) %>
                <td><%= link_to 'Destroy', u, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
              <% end -%>
            <% end -%>
          </tr>

          <% elsif userproject.role == 'Project manager' %>
          <tr>
            <td><h4>Team lead :</h4></td>
            <% Userproject.all.each do |u| %>
              <% if u.role == 'Team lead' && u.project_id == userproject.project_id %>
              <tr>
                <td>User Id : <%= u.user_id %></td>
                <td><%= link_to 'Task', tasks_path(id: u.id) %>
                <td><%= link_to 'Destroy', u, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
              <% end -%>
            <% end -%>
          </tr>
          <tr>
            <td><h4>Developer :</h4></td>
            <% Userproject.all.each do |u| %>
              <% if u.role == 'Developer' && u.project_id == userproject.project_id %>
              <tr>
                <td>User Id : <%= u.user_id %></td>
                <td><%= link_to 'Task', tasks_path(id: u.id) %>
                <td><%= link_to 'Destroy', u, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
              <% end -%>
            <% end -%>
          </tr>

          <% elsif userproject.role == 'Team lead' %>
          <tr>
            <td><h4>Developer :</h4></td>
            <% Userproject.all.each do |u| %>
              <% if u.role == 'Developer' && u.project_id == userproject.project_id %>
              <tr>
                <td>User Id : <%= u.user_id %></td>
                <td><%= link_to 'Task', tasks_path(id: u.id) %>
                <td><%= link_to 'Destroy', u, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
              <% end -%>
            <% end -%>
          </tr>

          <% elsif userproject.role == 'Developer' %>
            <br>User Id : <%= userproject.user_id %>
        <% end -%>
      </tbody>
    </table>
  </div>
<% end -%>
<%= link_to 'Back', projects_path %>
