<h1>New Userproject</h1>
<%= form_for(@userproject) do |form| %>
  <div class="field">
    <%= form.label :role %>
    <%= form.select :role, @role %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.text_field :project_id, readonly: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Back', userprojects_path(id: @userproject.project_id) %>
