<p>
  <strong>Role:</strong>
  <%= @userproject.role %>
</p>

<p>
  <strong>User:</strong>
  <%= @userproject.user_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @userproject.project_id %>
</p>

<%= link_to 'Back', userprojects_path(id: @userproject.project_id) %>


<% if @tasks == [] %>
  <p> No task assigned</p>
<% else %>
  <% @tasks.each do |task| %>
    <p>
      <strong>Task Description:</strong>
      <%= task.description %>
    </p>

    <p>
      <strong>Assigned By:</strong>
      <%= task.assigned_by %>
    </p>
    <br>
    <% if task.user_id == current_user.id %>
      <%= link_to 'Ask Questions?', new_comment_path(id: task.id) %><br>
    <% end %>
  <% end %>
<% end %>
<br>
<%= link_to 'Back', userprojects_path(id: @userproject.project_id) %>
